<div class="container">
  <h1>Here are your URLS</h1>
  <form>
  <p>Your original URL was:</p><input type="text" value="<%= @long_url %>" size="50">
  <p><a href="<%= @long_url %>"><%= @long_url %></a></p>
  <p>Your short URL is:</p> <input type="text" value="<%= @short_url %>" size="50">
  <p><a href="<%= @short_url %>"><%= @short_url %></a></p>
  </form>

</div>
